#button1{
	margin-top:20px;
	margin-left:30px;
	margin-right:auto;
	margin-bottom:auto;
	border-style:solid;
	border-color: red;
}

#button2{
	margin-top:20px;
	margin-left:450px;
	margin-right:auto;
	margin-bottom:auto;
	border-style:solid;
	border-color:red;
}

#button3{
	margin-top:20px;
	margin-left:500px;
	margin-right:auto;
	margin-bottom:auto;
	border-style:solid;
	border-color:red;
}
#first1{
	margin-top: 30px;
	text-align: center;
	margin-left:auto;
	margin-bottom: auto;
	margin-right: auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:large;
}
#Datepicker1{
	margin-top:30px;
	margin-left: 520px;
	margin-right:auto;
	margin-bottom:auto;
}